body, html {
    margin: 0;
    height: 100%;
    margin: 0;
    display: grid;
    place-items: center;
    background:linear-gradient( #0b184a, #1f348f, #1f348f, #1f348f, #1f348f, #0b184a);
}

#div-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffffc2;
    width: 700px;
    border-radius: 5px;
    height: 550px;
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
}

.h1 {
    font-family: sans-serif;
    font-size: 45px;
    color: #132160;
}

.input1 {
    border-radius: 7px;
    margin: 20px;
    width: 400px;
    height: 60px;
    border: 5px;
    background-color: #ffffff97;
    font-size: 16px;
}


.button {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    font-size: 17px;
    margin: 20px;
    width: 130px;
    height: 70px;
    background-color:#0e1c55;
    border-radius: 7px;
    border: 0px;
}

.cadastro {
    text-decoration: none;
    color: #1f348f;
    font-size: 18px;
}

#div-login-cadastro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffffc2;
    width: 700px;
    border-radius: 5px;
    height: 580px;
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
}

.button-cadastro {
    font-family: sans-serif;
    color: white;
    font-size: 19px;
    margin: 30px;
    width: 130px;
    height: 70px;
    background-color:#0e1c55;
    border-radius: 7px;
    border: 0px;
}

.button-cadastro:hover {
    transition: ease-in-out;
    animation: button 1s forwards;
}

.p {
    font-size: 18px;
    width: 700px;
    color: white;
}

.fundo {
    height: 100vh;
    background:linear-gradient(#212529,#1f348f, #1f348f, #1f348f)no-repeat;
}

.mg-div {
    margin-left: 340px;
}

th {
    height: 50px;
    background-color: #081239;
    color: white;
    border:solid 3px white;
    padding: 10px;
}

td {
    padding: 5px;
    width: 280px;
    height: 60px;
    background-color: transparent;
    color: white;
    border:solid 3px white;
}

.acao {
    width: 320px;
}

.bg-input {
    border: solid 2px #ffffff97;
    background-color: #ffffff97;
    margin: 15px;
    height: 40px;
}

label {
    position: relative;
    left: 20px;
    font-size: 18px;
}

.button:hover {
    transition: all 0.5s;
    animation: button 1s forwards;
}

@keyframes button {
    from {
        width: 130px;
        height: 70px;
    }
    
    to {
        background-color: #344794;
        scale: 1.05;
    }
}

.voltar {
    display: block;
}

.voltar1 {
    display: none;
}

.search {
    width: 600px;
    margin-bottom: 30px;
    border-radius: 20px;
}

.p-cadastro {
    font-size: 18px;
    font-family: sans-serif;
    padding-bottom: 30px;
}