.body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;    
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100vh;
    align-items: center;
    text-align: center;
    background: linear-gradient(45deg,  #081239, #1f348f, #1f348f, #1f348f, #081239);
}

#div-login {
    background-color: rgba(255, 255, 255, 0.541);
    height: 480px;
    width: 600px;
    border-radius: 10px;
    position: absolute;
    top: 20vh;
    left: 34%;
    box-shadow: 11px 11px #112161;
}

#div-login-cadastro {
    background-color: rgba(255, 255, 255, 0.541);
    height: 550px;
    width: 600px;
    border-radius: 10px;
    position: absolute;
    top: 20vh;
    left: 34%;
    box-shadow: 11px 11px #112161;
}

.input1 {
    background-color: rgba(255, 255, 255, 0.641);
    border: none;
    margin: 20px;
    width: 350px;
    height: 60px;
    border-radius: 7px;
    box-shadow: 7px 7px #727a99;
    font-size: 16px;
}

.input-cadastro {
    background-color: rgba(255, 255, 255, 0.641);
    position: relative;
    border: none;
    margin: 20px;
    width: 350px;
    height: 60px;
    border-radius: 7px;
    box-shadow: 7px 7px #727a99;
    font-size: 16px;
    right: 25%;
}

.button {
    color:white;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 5px;
    width: 110px;
    height: 70px;
    margin-top: 10px;
    background-color: #081239;
}

.button-cadastro {
    color:white;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 5px;
    width: 110px;
    height: 70px;
    margin-top: 10px;
    background-color: #081239;
    position: relative;
    right: 26%;
}


.button:hover {
    animation: btn-animation 1s forwards;
}

.button-cadastro:hover {
    animation: btn-animation 1s forwards;
}

@keyframes btn-animation {
    from {
        width: 110px;
        height: 70px;
    }

    to {
        width: 125px;
        height: 74px;
    }
}

.copy {
    clear: both;
    position: relative;
    top: 85vh;
    color: white;
}

.h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #112162;
}

@keyframes a-animation {
    from {
        color: #112162;
    }

    to {
       color: rgb(255, 255, 255);
    }
}

.li {
    list-style: none;
    color: rgb(216, 68, 68);
}

.cadastro {
    position: relative;
    top: 20px;
    animation: a 1s;
    animation: a-animation 2s infinite alternate-reverse;
}

.p{
    color: white;
    width: 450px;
    font-size: 16px;
}

.fundo{
    background: linear-gradient( #081239,#1f348f, #1f348f, #1f348f,#1f348f);
    width: 100%;
    height: 100vh;
}

.mg-div {
    margin-left: 400px;
}

.tabela {
    border: 3px solid white;
    border-radius: 2px 2px 2px 2px;
}

th {
    background: #0e1c53;
    border: 2px solid white;
    color: white;
    width: 350px;
    padding: 6px;
}

td {
    background: #2e4299;
    border: 2px solid white;
    color: white;
    padding: 6px;
}

.acao{
    width: 400px;
}

.bg-input {
    background-color: rgba(255, 255, 255, 0.641);
    border: #23326a;
    box-shadow: 4px 4px #23326a;
    width: 1000px;
    font-size: 20px;
}

.formulario{
    position: relative;
    left: 155px;
}